<footer>
<p>
  HearMe - Record. Report. Save Lives. © HearMe.tech 2020. <a href="/contact">Contact Us</a>
</p>
<!-- <p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p> -->
</footer>
