<footer>
<p>
  HearMe was created during Safe@Home Hackaton orginized by <a href="https://en.michalsela.org.il/" target="_blank">Michal Sela Forum</a> powered by <a href="https://www.safeathome.in.dev/">in.dev</a>. The team behined it are: Raz Malka, Itizik Mizrahi, Anna Li Yaron, Tami Shlasky Nachalon, Nitzan Regev-Sanders, Doron Mishli and Yaron Pur.
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
