<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ seotitle }}</title>

    {%- if seodesc %}
    <meta name="description" content="{{seodesc}}">
    {% endif %}

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#584a96">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169383143-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-169383143-1');
    </script>

  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

    <div class="header-container">
        <div class="container">
            {% include "header.njk" %}
        </div>
    </div>

    <div class="container">
        <h1>{{ title }}</h1>
        {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
        {{ content | safe }}
        {% include "footer.njk" %}
    </div>

    {% set js %}
        {% include "js/core.js" %}
        {% include "js/hello.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>

  </body>
</html>



