@import '_variables.css';
@import '_syntax.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $text-color;
  color: $page-color;
}
::selection {
  background-color: $text-color;
  color: $page-color;
}

html {
  background-color: $accent-color;
}

body {
  text-align: center;
  background-color: $page-color;
  color: mix($text-color, $page-color, 90%);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  min-height: 100vh;
  background:  $page-color;
  background: url(/images/bg-grid.png), linear-gradient(320deg, $page-color 0%, $accent-color 100%);

  @media (min-width: $narrow) {
    font-size: 18px;
  };
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
  @media (min-width: $mid) {
    width: 600px;
  };
  @media (min-width: $wide) {
    width: 700px;
  };
}

h1, h2, h3 {
    color: $text-color;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-top: 2em;
    margin-bottom: 1.2em;
    line-height: 1.5em;
}

h1 {
  font-size: 3em;
  margin-top:0.4em;
  margin-bottom:0.6em;
  line-height: 1;

  @media (min-width: $mid) {
    font-size: 4em;
  };
  @media (min-width: $wide) {
    font-size: 5em;
  };
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.subtitle {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 2.5em;
}

ul, ol {
  padding-left: 1em;
}

a {
  color: $text-color;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #fff;
}
a:hover,
a:focus {
  color: $text-color;
  opacity: 0.8;
}

code {
  font-size: 0.8em;
  background-color: mix($text-color,$accent-color, 80%);
  color: rgb(42, 65, 77);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  white-space: nowrap;
}

.date {
  font-size: 0.8em;
  font-style: italic;
}

main {
  margin-top: 4em;
}

pre {
  overflow: auto;
  border-radius: 6px;
  code {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}


footer {
  margin-top: 3em;
  padding-top: 4em;
  padding-bottom: 6em;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(255,255,255, 0.3);
  font-size: 0.8em;
  color: $text-color;
}


/* SITE */
.image-offset {
  width: auto;
  max-width: 100%;
  max-height: 220px;

  @media (min-width: $mid) {
    margin-left: -35px;
  }

  &.p-16 {
    padding: 16px 0 0 0;
  }
}

.image-full {
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
}

.header-container {
    display: block;
    background-color: rgba(0,0,0, 0.2);

    header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 24px 0;

        @media (min-width: $mobile) {
            flex-direction: row;
            margin-top: 0;
        }

        .logo {
            margin-right: 16px;

            @media (min-width: $narrow) {
                margin-right: 24px;
            }

            img {
                height: 40px;

                @media (min-width: $narrow) {
                    height: 50px;
                }
            }
        }

        ul {
            display: flex;
            align-items: center;
            list-style-type: none;
            padding: 0;

            @media (max-width: $mobile) {
                margin-top: 16px;
            }

        }

        li {
            margin-right: 12px;
            font-family: 'Rubik', sans-serif;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;

            @media (min-width: $mobile) {
                margin-right: 24px;
                font-size: 18px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            display: flex;
            align-items: center;
            border-bottom: none;
            transition: color 0.2s ease-in;

            &:hover {
                color: rgba(255,255,255, 0.8);
            }
        }
    }
}

/* zoho */
.zoho-signup-container {
    display: flex;
    margin-top: 60px;
    padding: 24px;
    border-radius: 4px;
    background: rgba(68,68,68, 0.4);

    h3 {
        margin: 0 0 16px 0;
    }
}

.zoho-signup {
    display: flex;
    flex-wrap: wrap;
}

.input-signup {
    width: 100%;
    margin: 8px 16px 0 0;
    padding: 12px 8px;
    border-radius: 4px;
    outline: none;
    border: none;

    @media (min-width: $narrow) {
        width: 240px;
    }
}

.button-signup {
    margin-top: 8px;
    padding: 12px 24px;
    background-color: #5F50A3;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color:  $accent-color;
    }
}
